body
{
    color: #fe0e0e;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#cabecera
{
    background: #fcd65b;
    box-shadow: 0px 5px 30px 0px #222222;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #tagline
{
    padding: 1em 0 0 0;
    font-weight: normal;
    font-size: 0.8em;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #141414;
}